.navigation {
  padding: 4px 0;
  text-align: center;
}

.navigation span, .navigation a {
  margin: 3px;
}

.navigation span {
  padding: 5px 8px;
  border: 1px solid #b2b2b2;
  background-color: #f3f3f3;
  color: #555;
}

.navigation a {
  padding: 5px 8px;
  border: 1px solid #b2b2b2;
  background-color: #fff;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #e2e2e2;
}