#tree {
  margin-top: -12px;
  padding: 0 0 1em 0;
}

#tree span {
  text-decoration: none;
  display: block;
  margin: 0 0 0 1.2em;   		
  background-color: transparent;
  border: solid silver;
  border-width: 0 0 1px 1px;
}

#tree span a  {
  display: block; 
  position: relative;
  top: .75em;
  background-color: #fff;
  margin: 0 0 .2em 18px;
}

#tree .current {
  font-weight: bold;
  color: #333;
}

#tree .subtree > span > a {
  margin-left: 8px;
}

#tree ul, li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
}

#tree ul li {
  line-height: 1.2em;
}

#tree ul li ul li {
  margin: 0 0 0 1.2em;
  border-left: 1px solid silver;
}

#tree li.last {
  border: none;
}

#tree .marker {
  display: block;
  margin-right: .3em;
  float: left;
  width: 16px;
  height: 16px;
}

#tree .marker.folders {
  background: url('images/folder.png') no-repeat;
}

#tree .marker.pages {
  background: url('images/page.png') no-repeat;
}

#tree .marker.blocks {
  background: url('images/block.png') no-repeat;
}